<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= workTitle %> 출연 배우</title>
  </head>
  <body>
    <h1><%= workTitle %> 출연 배우</h1>
    <table>
      <tr>
        <th>카테고리</th>
        <th>작품 제목</th>
        <th>배우 이름</th>
        <th>역할</th>
      </tr>
      <% actors.forEach(actor => { %>
      <tr>
        <td><%= actor.category %></td>
        <td><%= actor.title %></td>
        <td><%= actor.name %></td>
        <td><%= actor.role %></td>
      </tr>
      <% }); %>
    </table>
    <a href="/careers"> 뒤로가기</a>
  </body>
</html>
